name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted  # Use your WSL self-hosted runner

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Build Docker image
        run: |
          docker build -t prasadfdevops/course-app:${GITHUB_SHA::8} .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push prasadfdevops/course-app:${GITHUB_SHA::8}

      - name: Update Deployment in kind
        run: |
          kubectl set image deployment/course-app course-app=prasadfdevops/course-app:${GITHUB_SHA::8}
          kubectl rollout status deployment/course-app

